:root {
    --color-primary: #9E87CE;
    --color-primary-rgb: 158, 135, 206;
    --color-light: #F2F2F2;
    --color-light-rgb: 242, 242, 242;
    --color-dark: #333333;
    --color-dark-rgb: 51, 51, 51;
}

@font-face {
    font-family: "Font-Regular";
    src: url('/fonts/Font-Regular.ttf');
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.bg-white {
    background-color: white !important;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0) !important;
}

.primary {
    color: var(--color-primary) !important;
}

.light {
    color: var(--color-light) !important;
}

.dark {
    color: var(--color-dark) !important;
}

.white {
    color: white !important;
}

.transparent {
    color: rgba(255, 255, 255, 0) !important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.border {
    /*border: 0.5px solid var(--color-default) !important;*/
    box-shadow: 0 0 9px #999;
}

.shadow-top {
    box-shadow: 0 -5px 5px -5px #333;
}

.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow-left {
    box-shadow: -5px 0 5px -5px #333;
}

.shadow-all {
    box-shadow: 0 0 5px #333;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    margin-left: 20vw;
    margin-right: 20vw;
}

@media screen and (max-width: 576px) {
    .container {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

body {
    background-color: var(--white);
    color: white;
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5, p {
    font-family: "Aller Regular";
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email],
 [type=month], [type=number], [type=password], [type=search], [type=tel],
 [type=text], [type=time], [type=url], [type=week], textarea {
    height: 2.6rem;
}

label {
    font-size: 1.1rem;
    line-height: 2.6rem;
}
