.overlay-container {
    display: block;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

.parallax-container {
    display: block;
    position: relative;
    overflow: hidden;
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay-content, .parallax-content {
    height: 100%;
    width: 100%;
}

.panel {
    background-color: white;
    /* border-radius: 10px; */
    box-shadow: 0 5px 5px -5px #333;
}

.panel .panel-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* .panel .panel-image:hover {
    background-size: auto 120%;
} */

.panel .panel-content {
    padding: 10px;
}

.panel .panel-content h1, .panel .panel-content h2, .panel .panel-content h3,
.panel .panel-content h4, .panel .panel-content h5 {
    margin: 0px;
}

.panel .panel-content .panel-subtitle {
    margin-bottom: 8px;
}

.panel .panel-content .panel-paragraph p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 20ch; */
    /* line-height: 1.8rem;
    max-height: 3.6rem; */
}

.form-control, .form-round {
    font-family: "Droid Regular";
}

.form-round input, .form-round button {
    border-radius: 10px;
}

.form-round .round-start {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-round .round-middle {
    border-radius: 0px;
}

.form-round .round-end {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-button:hover {
    background-color: rgba(var(--color-dark-rgb), 0.6) !important;
}

.dropdown-pane {
    padding: 0px;
}

.dropdown-pane ul {
    margin: 0px;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown-pane ul li {
    list-style: none;
    padding: 10px;
}

.dropdown-pane ul li:hover {
    background-color: rgba(var(--color-dark-rgb), 0.1);
}

.section {
    height: 100vh;
}

.fp-controlArrow {
    opacity: 0;
}
